html, body {
  margin: 0;
  height: 100%;
  -webkit-tap-highlight-color: hsla(0, 0%, 0%, 0);
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  font-size: 62.5%;
}
button {
  border-radius: 0;
  border: solid 1px #ccc;
  background-color: #ccc;
  overflow: hidden;
}
header {
  background-color: #333;
  padding: 20px;
}
header h1 {
  color: #fff;
  margin: 0;
  font-size: 2.5rem
}
section {
  padding: 2rem;
  display: flex;
  flex-direction: row;
}

